.Container {
  display: flex;
}
.logo {
  float: left;
  width: 700px;
  height: 500px;
  align-items: center;
}
.content {
  width: 1000px;
  height: 100%;
}
.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 170px;
}
.accordion {
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  background: #009578;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  margin-top: 20px;
  display: block;
  color: black;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.548);
  color: white;
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #ffffff;
  border-radius: 20px;

  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

@media only screen and (max-width: 800px) {
  .imgContainer {
    display: none;
  }
  .heading {
    margin: 0 auto;
    text-align: center;
  }
}
