.Navbar {
  position: absolute;
  width: 100vw;
  top: 0px;
  left: 0;
  background-color: transparent;
  height: 80px;
  font-family: "Inter", sans-serif;
  z-index: 100;
  
}

.Navigation {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  font-weight: 500;
  font-size: 16px;
  
}
@media only screen and (max-width: 395px) {
  .Navigation {
  margin: 0 .5rem;
  padding: 0;
  }
  /* .Logo{
      position: absolute;
  left: 2.5rem;
  width: 7rem;
  top: .8rem;
} */
}
.Logo {
  margin-left: 0.5rem;
  margin-right: 50px;

}

@media (min-width: 769px) {
  .ToggleButton {
    display: none;
  }
}
