.NavigationItem {
  margin: 0 1.125rem;
  font-size: 16px;
  color: #fff;
}

.NavigationItem a {
  color: #fff;
  text-decoration: none;
  position: relative;
  left: -50px;
}
.NavigationItem a:hover {
  color: #766df4;
}

.NavigationItem > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 40px;
  bottom: 0;
  left: 0;
  background-color: #766df4;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.NavigationItem > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.CartItem {
  flex-grow: 1;
  font-size: 50px;
  margin: 0 5px;
  
}
.CartItem a {
  float: right;
  display: block;
  margin: 0px;
  padding: 0;
  margin-top: 10px;
  color: #fff;
}
.CartItem a :hover {
  color: #766df4;
}
.Cart {
  height: 150px !important;
  width: 150px !important;
}
