@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

.productcard {
  width: 335px;
  height: 105%;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}
.Img {
  /* border: 2px solid rgb(255, 32, 32); */
  width: 100%;
  height: 320px;
  object-fit: contain;
  position: relative;
  z-index: 0;
}
.producttumb {
  margin-bottom: -40px;
}
h3 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 12px;
  font-size: 22px;
  color: #393c45;
  font-weight: 200;
  margin-top: 33px;
}
.descriptionprod {
  margin-left: 12px;
  text-align: left;
  margin-top: -13px;
  width: 65%;
  height: 0px;
  display: -webkit-box;
  overflow: hidden;
}

.cardfooter {
  width: 35%;
  display: flex;
  justify-content: center;
  margin-top: -35px;
}
.cardfooter > span {
  color: #48cfad;
  font-size: 22px;
  font-weight: 600;
}
.productdetails {
  display: flex;
}
.wcfright {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  padding: 13px 0px;
  background-color: #3e64ff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wcfright:hover{
  cursor: pointer;
}

.productcard:hover .productinfo {
  background-color: #fff;
  display: block;
  text-align: left;
  margin-top: -190px;
  height: 90%;
  max-height: 300px;
  position: relative;
  z-index: 1000;
  overflow: hidden;
}
.productcard:hover .Img {
  background: #48daa1;
  opacity: 0.3;
  padding: 0;
  margin: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.productcard:hover .descriptionprod {
  margin-left: 12px;
  text-align: left;
  margin-top: -13px;
  width: 65%;
  height: 150px;
  display: -webkit-box;
  overflow: hidden;
}
.productcard:hover .cardfooter {
  margin-top: 35px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
