.Container {
  /* margin: 5rem 2rem 2rem 2rem; */
  background: #bab9fa;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-top: -90px;
}
.Overlay {
  position: absolute;
  top: 0;
  /* background: rgba(0, 0, 0, 0.4); */
  z-index: 200;
  width: 100%;
  height: 100%;
}

.Img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.Headding {
  justify-content: center;
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 300;
}
.Title {
  font-weight: 700;
  color: #1c2045;
  font-size: 54px;
  line-height: 1.2;
}

.heroSection {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.roboImg {
  padding: 20px;
  margin-right: 60px;
  /* border: 1px solid #000; */
  width: 60%;
}
@media only screen and (max-width: 470px) {
  .Title {
    margin: 1rem;
    font-size: 2rem;
  }
}

.Btn {
  background-color: #7052fb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  margin-right: 265px;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
}
.BtnIcon {
  border: 2px solid #fff;
  padding: 8px;
  margin-right: -25px;
  margin-left: 15px;
  border-radius: 30px;
  color: #7052fb;
  background-color: #fff;
}
