.NavigationItems {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.Cart {
  width: 30px;
}
.signup{
  position: absolute;
  top: 27px;
  left: 65%;
 

  background-color: #7052fb;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  color: white;
}
.login{
   position: absolute;
  top: 27px;
  left: 70%; 

  background-color: #7052fb;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  color: white;

}
@media (max-width: 768px) {
 .NavigationItems li:not(:last-child) {
    display: none;
  } 
}

@media (max-width: 1440px) {
  .signup{
    position: absolute;
    top: 27px;
    left: 50%;
  }
  .login{
    position: absolute;
    top: 27px;
    left: 60%; 
  }
}

@media (max-width: 830px) {
  .signup{
    position: absolute;
    top: 27px;
    left: 65%;
  }
  .login{
    position: absolute;
    top: 27px;
    left: 80%; 
  }
}

@media (max-width: 500px) {
  .signup{
    position: absolute;
    top: 27px;
    left: 50%;
  }
  .login{
    position: absolute;
    top: 27px;
    left: 70%; 
  }
} 

@media only screen and (max-width: 395px) {
  .signup{
    left: 54%;
    width: 3.5rem;
  }
  .login{
    width: 3.5rem;
  }
  
}